.login-parent {
  height: 95vh;
  width: 100vw;
  padding: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  /* min-width: 100%; */
  background: linear-gradient(
      to right bottom,
      rgba(0, 255, 255, 0.78),
      rgba(102, 0, 255, 0.78)
    ),
    url("https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2532&q=80");
  margin-right: 0;
  background-size: cover;
  background-position: top;
  border: 1px solid black;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}
.email {
  text-align: center;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
  height: 30px;
}
.password {
  text-align: center;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
  height: 30px;
}

.sign-in {
  width: 113px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  background-color: #75c8b9;
  border: none;
  text-align: center;
  border-radius: 3px;
  margin-left: 8px;
}
.sign-in:hover {
  background: #7cddcb;
  box-shadow: 0 0 1px 1px white;
}
.signup-form {
  text-align: center;
  border-radius: 5px;
}

.login-title {
  text-align: center;
}
.login-form-title {
  display: inline-block;
  margin-left: 50%;
  margin-bottom: 50%;
  transform: translate(-50%, 50%);
}

.login-form {
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  width: 300px;
}
.signup-button {
  align-items: center;
  border-radius: 3px;
  width: 113px;
  height: 27px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 9px;
  margin-right: 7.5px;
  text-align: center;
  background-color: #c5b8d6;
}
.signup-button:hover {
  background-color: #d7c4ef;
  box-shadow: 0 0 1px 1px white;
}
.signup-button:focus {
  border: none;
}
.signup-password {
  text-align: center;
}
/* */

.signup-button {
  align-items: center;
  border-radius: 3px;
  width: 113px;
  height: 27px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 7.5px;
  text-align: center;
  border: none;
  background-color: #c5b8d6;
}
.signup-button:hover {
  background-color: #d7c4ef;
  box-shadow: 0 0 1px 1px white;
}

.signup-password {
  text-align: center;
}

.sign-in:hover {
  background: #7cddcb;
  box-shadow: 0 0 1px 1px white;
}
.signup-form {
  text-align: center;
  border-radius: 5px;
}
