.individual-note {
  margin-top: 100px;
  width: 300px;
  min-height: 380px;
  margin-bottom: 5%;
  margin-right: 25px;
  border: red;
  background: red;
  border-radius: 9px;
}
.individual-note:nth-child(n + 5) {
  margin-top: 10px;
}
.notetitle-div {
  text-align: center;
  width: 300px;
  padding: 0 30px;
  box-sizing: border-box;
  height: 30px;
  border-width: 1px;
  border-radius: 5px;
}
.date-div {
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  width: 300px;
  padding: 0 30px;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 5px;
}
.desc-div {
  /* border-style: solid; */
  background: #b6d4e1;
  /* box-shadow: 0 0 3px 3px white; */
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 30px;
  border-radius: 5px;
  border-width: 1px;
}
.content-div {
  /* border-style: solid; */
  border-width: 1px;
  font-size: 13px;
  width: 300px;
  background: #b6d4e1;
  box-shadow: 0 0 3px 3px white;
  height: 228px;
  overflow-y: scroll;
  border-radius: 5px;
}

.delete-note {
  border-radius: 4px;
  line-height: 25px;
  height: 25px;
  width: 70px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: black;
  border: none;
}
.delete-note:hover {
  box-shadow: 0 0 3px 3px white;
}
div.button {
  max-width: 300px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}
.edit-button {
  height: 25px;
  width: 75px;
  border-radius: 4px;
  margin-right: 5px;
  line-height: 25px;
  font-weight: bold;
  color: white;
  font-size: 13px;
  background-color: black;
  border: none;
}
.edit-button:hover {
  box-shadow: 0 0 3px 3px white;
}

.translate-button {
  border-radius: 4px;
  height: 25px;
  width: 90px;
  line-height: 25px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: black;
  border: none;
}
.translate-button:hover {
  box-shadow: 0 0 3px 3px white;
}
