.edit-note {
  color: red;
}

/* note */
.notetitle-div {
}
.date-div {
}
.desc-div {
}
.content-div {
}

/* notebook */
.title-bar {
  position: fixed;
}
.NewNoteBook {
  margin-top: 5%;
  position: relative;
  margin-left: 40%;
}
/* parent div is notebook-bar */
.notebook-bar {
  /* position: fixed; */
  margin-bottom: 20%;
  position: absolute;
}
.newnb-div {
  margin-top: 5%;
}

/* notescontainer */
.note-layout {
}

.NewNote {
  position: relative;
  margin-left: 20%;
}

/* translate */
.select-translate {
  width: 30%;
}
