.edit-note {
  color: red;
}

/* note */
.notetitle-div {
}
.date-div {
}
.desc-div {
}
.content-div {
}

/* notebook */

.NewNoteBook {
  margin-top: 5%;

  margin-left: 40%;
}
/* parent div is notebook-bar */
.notebook-bar {
  /* position: fixed; */
  margin-bottom: 20%;
}
.newnb-div {
  margin-top: 5%;
}

/* notescontainer */
.note-container {
  min-width: 55%;
}
.note-layout {
  min-width: 40%;
  width: 40%;
  height: 100%;
  display: grid;
  flex: auto;
}

.notes {
  /* flex-wrap: wrap;
  justify-content: wrap; */
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  height: 80%;
  width: 50%;
  margin-right: 10%;
  /* flex: 0 0 500px; */
}
#notebook-title {
  width: 50%;
  text-align: center;
  height: 10%;
}

.NewNote {
  float: right;
  width: 40%;
  margin-left: 70%;
}
.notebooks-list {
  width: 100vh;
  height: 100vh;
}
.title-bar {
  width: 150vh;
  height: 10vh; /* position: absolute; */
}
.logOut {
  float: right;
  height: 50%;
  width: 10%;
  margin-right: 1%;
  align: right;
  right: 0;
}

/* note */
.individual-note {
  margin-top: 5%;
  width: 95%;
  min-height: 350px;
  margin-bottom: 5%;
  margin-left: 5%;
  /* background: red;
  border-style: outset;
  border-radius: 9px; */
}

.button {
  position: center;
  border-radius: 4px;
  margin: 1%;
}
.delete-note {
  border-radius: 4px;
  border-style: outset;
  margin: 2%;
}
.edit-button {
  height: 100%;
  border-radius: 4px;
  border-style: outset;
  width: 30%;
  margin: 2%;
}
/* translate */
.select-translate {
  width: 30%;
}

.translate-button {
  border-radius: 4px;
  border-style: outset;
}
.notetitle-div {
  border-style: solid;
  text-align: center;
  background: red;
  border-color: blue;
  height: 40px;
  border-width: 1px;
  border-radius: 5px;
}
.date-div {
  border-style: solid;
  border-radius: 5px;
  height: 12%;
  background: red;
  border-width: 1px;
  border-radius: 5px;
}
.desc-div {
  border-style: solid;
  background: red;
  height: 20%;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
}
.content-div {
  border-style: solid;
  border-width: 1px;
  background: red;
  height: 180px;
  border-radius: 5px;
}
/*  newNote */
.newNoteForm {
  /* position: absolute; */
  margin-left: 100%;
  margin-right: 20%;
  width: 100%;
  float: right;
}
#title {
}

#content {
  width: 100%;
  height: 200px;
}
/*
login */
html {
  height: 100%;
  width: 100%;
}
body {
  min-width: 750px;
  min-height: 750px;
  /* max-height: 850px;
  max-width: 850px; */
  background-repeat: no-repeat;
  font-family: Poppins-Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.App {
  width: 100%;
  height: 100%;
}
.login-container {
  height: 150vh;
  width: 130vh;
  position: absolute;
  background-size: stretch;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1533103601126-a65ecc2cfc39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
}
.login-div {
  min-height: 114.5vh;
  min-width: 40vh;
  background-color: #f7f7f7;
  padding: 173px 55px 55px;
  position: relative;
  margin-left: 129vh;
  border: 1px solid black;
  background: #2575fc;
  /* background: linear-gradient(left, #6a11cb, #2575fc);
  background: linear-gradient(left, #6a11cb, #2575fc);
  background: linear-gradient(left, #6a11cb, #2575fc);
  background: linear-gradient(left, #6a11cb, #2575fc);
  border-radius: 9px; */
}
.login-title {
  text-align: center;
  overflow: auto;
}
.login-form {
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

#sign-in {
  text-align: center;
  border-radius: 5px;
}
#email {
  text-align: center;
  border-radius: 5px;
}
#password {
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
#signup {
  /* justify-content: center; */
  align-items: center;
  border-radius: 3px;
  width: 100px;
  text-align: center;
}
